html,
dy,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #000;
}
#root {
  background: #ccc;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
}
header .top-bar,
header .logo-block {
  width: 100%;
  display: flex;
}
header .top-bar {
  justify-content: space-around;
  padding: 1% 0;
}
header .logo-block {
  justify-content: center;
}
header .logo-block .logo-block-right {
  display: none;
}
header .main-navbar {
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
header .main-navbar input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
header .main-navbar input:checked ~ .menu {
  display: block;
}
header .main-navbar span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 4px;
  position: relative;
  background: #000;
  border-radius: 2px;
  z-index: 1;
}
header .main-navbar .menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  /* -webkit-font-smoothing: antialiased; */
  display: none;
  z-index: 2;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  position: absolute;
  right: 0;
}
header .main-navbar .menu li {
  padding: 1.5rem 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #444;
}
header .main-navbar .menu li:last-child {
  border: 0;
}
header .main-navbar .menu li:hover {
  background: rgba(255, 255, 255, 0.1);
}
header .main-navbar .menu li a {
  color: #fff;
}
.headline {
  display: flex;
  flex-direction: row;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  height: 100%;
}
.headline::-webkit-scrollbar {
  width: 0 !important;
}
.headline .item {
  flex: 0 0 40%;
  margin-right: 3vw;
  padding: 0 0 2vh 0;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
.headline .item img {
  width: 100%;
}
.slider .main-slider {
  display: flex;
  flex-direction: row;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  height: 100%;
}
.slider .main-slider::-webkit-scrollbar {
  width: 0 !important;
}
.slider .main-slider .item {
  flex: 0 0 90%;
  margin-right: 4vw;
  padding: 0 0 2vh 0;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
.slider .main-slider .item img {
  width: 100%;
}
.slider .mini-slider {
  display: flex;
  flex-direction: row;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  height: 100%;
}
.slider .mini-slider::-webkit-scrollbar {
  width: 0 !important;
}
.slider .mini-slider .item {
  flex: 0 0 27%;
  margin-right: 2vw;
  padding: 0 0 2vh 0;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
.slider .mini-slider .item img {
  width: 100%;
}
.news .title {
  font-size: 3rem;
  padding: 10px 0 10px 10px;
  color: #fff;
  width: 100%;
  margin-bottom: 2vh;
  background: #950000;
  background: linear-gradient(180deg, #950000 10%, #950000 60%, #ff4949 100%);
}
.news .thumb-news {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}
.news .thumb-news .item {
  width: 45%;
  margin-bottom: 2vh;
}
.news .thumb-news .item .link img {
  width: 100%;
}
.news .thumb-news .item .link h3 {
  font-size: 1.5rem;
}
.news .category-news {
  display: flex;
  flex-wrap: wrap;
}
.news .category-news .item .link img {
  width: 50%;
}
.news .category-news .item .link h3 {
  font-size: 2.5rem;
}
