html,
dy,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
s h6 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #000;
}
#root {
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 8px;
}
header .top-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1% 0;
}
header .logo-block {
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
}
header .logo-block img {
  position: absolute;
}
@media (min-width: 768px) {
  header .logo-block img {
    position: static;
    margin: 0 1rem 0 0;
  }
}
header .logo-block .logo-block-right {
  display: none;
}
@media (min-width: 768px) {
  header .logo-block .logo-block-right {
    display: block;
    width: 100%;
  }
}
header .logo-block .burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  header .logo-block .burger-menu {
    display: none;
  }
}
header .logo-block .burger-menu input {
  display: inline-block;
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
@media (min-width: 768px) {
  header .logo-block .burger-menu input {
    display: none;
  }
}
header .logo-block .burger-menu input:checked ~ .menu {
  display: block;
}
header .logo-block .burger-menu span {
  display: inline-block;
  width: 30px;
  height: 5px;
  margin-bottom: 4px;
  position: relative;
  background: #222222;
  border-radius: 2px;
  z-index: 1;
}
@media (min-width: 768px) {
  header .logo-block .burger-menu span {
    display: none;
  }
}
header .logo-block .burger-menu .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  display: none;
  z-index: 100;
  background: rgba(0, 0, 0, 0.95);
  padding: 20px;
  position: absolute;
  right: 0;
  top: 27px;
}
header .logo-block .burger-menu .menu li {
  padding: 1.5rem 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #222222;
}
header .logo-block .burger-menu .menu li:first-child {
  border-top: 1px solid #222222;
}
header .logo-block .burger-menu .menu li:hover {
  background: rgba(255, 255, 255, 0.1);
}
header .logo-block .burger-menu .menu li a {
  color: #f2f2de;
}
header .main-navbar {
  display: none;
}
@media (min-width: 768px) {
  header .main-navbar {
    display: block;
  }
  header .main-navbar .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #950000;
    margin: 0 0 1rem 0;
  }
  header .main-navbar .menu li {
    padding: 15px 0;
  }
  header .main-navbar .menu li a {
    color: #f2f2de;
    text-shadow: #222222 1px 1px 0;
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  background: #222222;
}
footer .link-block {
  width: 100%;
  padding: 10px 0 20px 0;
}
footer .link-block .link {
  color: #f2f2de;
  display: block;
  text-align: center;
  line-height: 2.2rem;
}
footer .link-block .link:hover {
  text-decoration: underline;
}
@media (min-width: 500px) {
  footer .link-block {
    width: 33%;
  }
}
@keyframes scroller {
  0% {
    transform: translateX(0);
  }
  9% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-100%);
  }
  19% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-200%);
  }
  29% {
    transform: translateX(-200%);
  }
  30% {
    transform: translateX(-300%);
  }
  39% {
    transform: translateX(-300%);
  }
  40% {
    transform: translateX(-400%);
  }
  49% {
    transform: translateX(-400%);
  }
  50% {
    transform: translateX(-500%);
  }
  59% {
    transform: translateX(-500%);
  }
  60% {
    transform: translateX(-600%);
  }
  69% {
    transform: translateX(-600%);
  }
  70% {
    transform: translateX(-700%);
  }
  79% {
    transform: translateX(-700%);
  }
  80% {
    transform: translateX(-800%);
  }
  89% {
    transform: translateX(-800%);
  }
  90% {
    transform: translateX(-900%);
  }
  99% {
    transform: translateX(-900%);
  }
  100% {
    transform: translateX(0);
  }
}
.headline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  height: 100%;
}
@media (min-width: 768px) {
  .headline {
    justify-content: space-between;
  }
}
.headline::-webkit-scrollbar {
  width: 0 !important;
}
.headline .item {
  flex: 0 0 40%;
  margin: 0 1rem 0 0;
  padding: 0 0 2rem 0;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  .headline .item {
    flex: 0 0 19%;
    margin: 0;
  }
}
.headline .item img {
  width: 100%;
}
.headline .item h3 {
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 2rem;
}
@media (min-width: 500px) {
  .headline .item h3 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
.slider .main-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  height: 100%;
  padding: 0 0 3rem 0;
}
@media (min-width: 768px) {
  .slider .main-slider {
    width: 60%;
  }
}
.slider .main-slider::-webkit-scrollbar {
  width: 0 !important;
}
.slider .main-slider .item {
  position: relative;
  display: inline-block;
  flex: 0 0 85%;
  margin-right: 2rem;
  scroll-snap-align: center;
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  .slider .main-slider .item {
    flex: 0 0 100%;
    margin: 0 0 0 0;
    animation: scroller 30s infinite;
  }
}
.slider .main-slider .item .link {
  display: block;
  overflow: hidden;
}
.slider .main-slider .item .link img {
  width: 100%;
}
.slider .main-slider .item .link h3 {
  position: absolute;
  bottom: 2px;
  z-index: 10;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5rem;
  padding: 0 0 0 1vw;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: #f2f2de;
  text-shadow: #222222 1px 1px 0;
}
.slider .mini-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  height: 100%;
}
@media (min-width: 768px) {
  .slider .mini-slider {
    width: 38%;
  }
}
.slider .mini-slider::-webkit-scrollbar {
  width: 0 !important;
}
.slider .mini-slider .item {
  flex: 0 0 40%;
  margin: 0 1rem 0 0;
  padding: 0 0 2rem 0;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  .slider .mini-slider .item {
    flex: 0 0 100%;
    margin: 0 1rem 0 0;
  }
}
@media (min-width: 500px) {
  .slider .mini-slider .item .link h3 {
    font-size: 2rem;
  }
}
.slider .mini-slider .item img {
  width: 100%;
}
.news .title {
  font-size: 3rem;
  padding: 10px 40px 10px 0;
  color: #222222;
  font-weight: bold;
  border-top-right-radius: 20px;
  display: inline-block;
}
.news .thumb-news {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  height: 100%;
  padding: 1rem 0 3rem 0;
  border-top: 5px solid #950000;
}
.news .thumb-news::-webkit-scrollbar {
  width: 0 !important;
}
@media (min-width: 500px) {
  .news .thumb-news {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.news .thumb-news .item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex: 0 0 80%;
  margin: 0 1rem 0 0;
  scroll-snap-align: center;
  scroll-behavior: smooth;
}
@media (min-width: 500px) {
  .news .thumb-news .item {
    flex: 0 0 49%;
    margin: 0 0 3rem 0;
  }
}
.news .thumb-news .item .link {
  display: inline-block;
}
.news .thumb-news .item .link img {
  width: 100%;
}
.news .thumb-news .item .link h3 {
  width: 100%;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.news .category-news {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  height: 100%;
  padding: 1rem 0 3rem 0;
  border-top: 5px solid #950000;
}
.news .category-news::-webkit-scrollbar {
  width: 0 !important;
}
@media (min-width: 500px) {
  .news .category-news {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.news .category-news .item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex: 0 0 80%;
  margin: 0 1rem 0 0;
  scroll-snap-align: center;
  scroll-behavior: smooth;
}
@media (min-width: 500px) {
  .news .category-news .item {
    flex: 0 0 49%;
    margin: 0 0 3rem 0;
  }
}
@media (min-width: 768px) {
  .news .category-news .item {
    flex: 0 0 32.5%;
  }
}
.news .category-news .item .link {
  display: inline-block;
}
.news .category-news .item .link img {
  width: 100%;
}
.news .category-news .item .link h3 {
  width: 100%;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
}
