* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Helvetica";
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
s h6 {
  font-family: "Helvetica";
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 1rem;
}
