@keyframes scroller {
  0%,
  100% {
    transform: translateX(0);
  }
  9% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-100%);
  }
  19% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-200%);
  }
  29% {
    transform: translateX(-200%);
  }
  30% {
    transform: translateX(-300%);
  }
  39% {
    transform: translateX(-300%);
  }
  40% {
    transform: translateX(-400%);
  }
  49% {
    transform: translateX(-400%);
  }
  50% {
    transform: translateX(-500%);
  }
  59% {
    transform: translateX(-500%);
  }
  60% {
    transform: translateX(-600%);
  }
  69% {
    transform: translateX(-600%);
  }
  70% {
    transform: translateX(-700%);
  }
  79% {
    transform: translateX(-700%);
  }
  80% {
    transform: translateX(-800%);
  }
  89% {
    transform: translateX(-800%);
  }
  90% {
    transform: translateX(-900%);
  }
  99% {
    transform: translateX(-900%);
  }
}

.headline {
  .flex();
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  height: 100%;
  @media @desktop {
    justify-content: space-between;
  }
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  .item {
    flex: 0 0 40%;
    margin: 0 1rem 0 0;
    padding: 0 0 2rem 0;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    @media @desktop {
      flex: 0 0 19%;
      margin: 0;
    }
    img {
      width: 100%;
    }
    h3 {
      font-size: 1.7rem;
      font-weight: normal;
      line-height: 2rem;
      @media @tablet {
        font-size: 2rem;
      }
    }
  }
}

.slider {
  @media @desktop {
    .flex(@justifyContent: space-between);
  }
  .main-slider {
    .flex();
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    height: 100%;
    padding: 0 0 3rem 0;
    @media @desktop {
      width: 60%;
    }
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    .item {
      position: relative;
      display: inline-block;
      flex: 0 0 85%;
      margin-right: 2rem;
      scroll-snap-align: center;
      scroll-behavior: smooth;
      animation: scroller 30s infinite;
      @media @desktop {
        flex: 0 0 100%;
        margin: 0 0 0 0;
      }
      .link {
        display: block;
        overflow: hidden;
        img {
          width: 100%;
        }
        h3 {
          position: absolute;
          bottom: 2px;
          z-index: 10;
          font-size: 2.5rem;
          font-weight: bold;
          line-height: 5rem;
          padding: 0 0 0 1vw;
          width: 100%;
          background: rgba(0, 0, 0, 0.3);
          color: @light;
          text-shadow: @dark 1px 1px 0;
        }
      }
    }
  }

  .mini-slider {
    .flex();
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    height: 100%;
    @media @desktop {
      width: 38%;
    }
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    .item {
      flex: 0 0 40%;
      margin: 0 1rem 0 0;
      padding: 0 0 2rem 0;
      scroll-snap-align: start;
      scroll-behavior: smooth;
      @media @desktop {
        flex: 0 0 100%;
        margin: 0 1rem 0 0;
      }
      .link {
        h3 {
          @media @tablet {
            font-size: 2rem;
          }
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
