.headline {
  display: flex;
  flex-direction: row;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  height: 100%;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  .item {
    flex: 0 0 40%;
    margin-right: 3vw;
    padding: 0 0 2vh 0;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    img {
      width: 100%;
    }
  }
}

.slider {
  .main-slider {
    display: flex;
    flex-direction: row;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    height: 100%;
    padding: 0 0 4vh 0;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    .item {
      position: relative;
      display: inline-block;
      flex: 0 0 90%;
      margin-right: 4vw;
      scroll-snap-align: start;
      scroll-behavior: smooth;
      .link {
        display: block;
        overflow: hidden;
        img {
          width: 100%;
        }
        h3 {
          position: absolute;
          bottom: 2px;
          z-index: 10;
          font-size: 2.5rem;
          line-height: 5rem;
          padding: 0 0 0 1vw;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          color: white;
        }
      }
    }
  }

  .mini-slider {
    display: flex;
    flex-direction: row;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    height: 100%;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    .item {
      flex: 0 0 40%;
      margin-right: 3vw;
      padding: 0 0 2vh 0;
      scroll-snap-align: start;
      scroll-behavior: smooth;
      img {
        width: 100%;
      }
    }
  }
}
