.news {
  .title {
    font-size: 3rem;
    padding: 10px 40px 10px 0;
    color: @dark;
    font-weight: bold;
    border-top-right-radius: 20px;
    display: inline-block;
    @media @tablet {
      &::after {
        content: "\00a0Haberleri";
      }
    }
  }
  .thumb-news {
    display: flex;
    flex-direction: row;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    height: 100%;
    padding: 1.5vh 0 4vh 0;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    border-top: 5px solid lighten(@main, 15%);
    .item {
      display: flex;
      flex: 0 0 80%;
      margin-right: 1.5vh;
      scroll-snap-align: center;
      scroll-behavior: smooth;
      .link {
        display: inline-block;
        img {
          width: 100%;
        }
        h3 {
          width: 100%;
          line-height: 2.5rem;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }
  .category-news {
    display: flex;
    flex-direction: row;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    height: 100%;
    padding: 1.5vh 0 4vh 0;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    border-top: 5px solid lighten(@main, 15%);
    .item {
      display: flex;
      flex: 0 0 80%;
      margin-right: 1.5vh;
      scroll-snap-align: center;
      scroll-behavior: smooth;
      .link {
        display: inline-block;
        img {
          width: 100%;
        }
        h3 {
          width: 100%;
          line-height: 2.5rem;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }
}
