.news {
  .title {
    font-size: 3rem;
    padding: 10px 40px 10px 0;
    color: @dark;
    font-weight: bold;
    border-top-right-radius: 20px;
    display: inline-block;
    @media @tablet {
    }
  }
  .thumb-news {
    .phone-slider-news();
    @media @tablet {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .item {
      .phone-slider-news-item();
      @media @tablet {
        flex: 0 0 32%;
        margin: 0 0 3rem 0;
      }

      .link {
        display: inline-block;
        img {
          width: 100%;
        }
        h3 {
          width: 100%;
          line-height: 2.5rem;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }
  .category-news {
    .phone-slider-news();
    @media @tablet {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .item {
      .phone-slider-news-item();
      @media @tablet {
        flex: 0 0 32%;
        margin: 0 0 3rem 0;
      }
      .link {
        display: inline-block;
        img {
          width: 100%;
        }
        h3 {
          width: 100%;
          line-height: 2.5rem;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }
}
